.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 100%;
    max-width: 650px;
    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
}
