* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
